body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #E5E7E6;
    background-image: url("./xx.jpg");
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #141301;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #8b8b8a;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #B7B5B3;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #8b8b8a;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8b8b8a;
}
/* #8b8b8a
#B7B5B3 */